.ProseMirror {

  p.pmp-paragraph {
    &:first-child {
      margin-top: 10px;
    }
    &.pmp-align-center {
      text-align: center;
    }
    &.pmp-align-right {
      text-align: right;
    }

    @for $i from 1 through 6 {
      &.pmp-paragraph-indent-#{$i} {
        margin-left: 30px * $i;
      }
    }
  }
}
