.pmp-view-editor-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}

.pmp-view-editor-scroll {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.pmp-view-editor {
  max-width: 760px;
  width: 100%;
  display: block;
  flex-direction: column;
  flex: 1 1 auto;
  height: inherit;
  min-height: 0;
  background-color: white;
  color: black;
}

.pmp-view-menubar-wrapper {
  padding: 8px 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;

  &:not(.scroll-top) {
    box-shadow: 0 2px 0 0 #EBECF0;
  }
}

.pmp-menubar-text-select {
  width: 110px;

  &.pmp-heading-selected {
    color: var(--spindle-700);
  }
}

.pmp-view-menubar-separator {
  margin: 4px 8px;
}