.pmp-view-editor-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}

.pmp-view-editor-scroll {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.pmp-view-editor {
  max-width: 760px;
  width: 100%;
  display: block;
  flex-direction: column;
  flex: 1 1 auto;
  height: inherit;
  min-height: 0;
  background-color: white;
  color: black;
}

.pmp-view-editor-menubar-root {
  border-bottom: 1px solid var(--black-100);
}

.pmp-view-menubar-wrapper {
  padding: 8px 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;
}

.pmp-menubar-text-select {
  width: 110px;

  &.pmp-heading-selected {
    color: var(--spindle-700);
  }
}

.pmp-menubar-font-select {
  width: 110px;
}

.pmp-menubar-color-select {
  position: relative;
}

.pmp-color-layer-list {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.pmp-colo-layer-list-item {
  padding: 0; 
}

.pmp-color-button {
  position: relative;
}

.pmp-color-button-icon {
  width: 16px;
  height: 16px;
  fill: var(--spindle-950);
}

.current-font-color {
  position: absolute;
  background-color: var(--spindle-700);
  height: 2px;
  width: 12px;
  bottom: 7px;
  left: 6px;
  border-radius: 4px;
}

.pmp-menubar-align-option {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pmp-menubar-align-active {
  color: var(--spindle-700);
}

.pmp-view-menubar-separator {
  margin: 4px 4px;
}
