h1.pmp-ui-h1 {
  margin: 0;
}

h2.pmp-ui-h2 {
  margin: 0;
}

h3.pmp-ui-h3 {
  margin: 0;
}

h4.pmp-ui-h4 {
  margin: 0;
}

h5.pmp-ui-h5 {
  margin: 0;
}

h6.pmp-ui-h6 {
  margin: 0;
}
