:root {
  --spindle-50: #f1f6fd;
  --spindle-100: #dfebfa;
  --spindle-200: #c7dcf6;
  --spindle-300: #b0cff2;
  --spindle-400: #74a7e6;
  --spindle-500: #5388de;
  --spindle-600: #3e6cd2;
  --spindle-700: #3559c0;
  --spindle-800: #314a9c;
  --spindle-900: #2c417c;
  --spindle-950: #1f294c;
}