.pmp-select {
  display: flex;
  cursor: pointer;
  height: var(--ui-height);
  align-items: center;
  border-radius: 3px;
  padding: 0 8px;

  i.pmp-select-arrow-icon {
    margin-left: 4px;
  }
}

.pmp-select-text {
  margin: 0;
}

.pmp-select-option {
  cursor: pointer;

  &:hover {
    background-color: var(--white-100);
  }

  &:active {
    background-color: var(--white-200);
  }

  &.pmp-active {
    color: var(--spindle-700);
  }
}
