:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.menubar-root {
  flex-shrink: 0;
}

.editor-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

::ng-deep.editor-root {
  max-width: 760px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: inherit;
  height: 500px;
  min-height: 0;
}

