@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");
@import 'remixicon/fonts/remixicon.css';
:root {
  --ui-height: 28px;
}

:root {
  --white-50: #ffffff;
  --white-100: #efefef;
  --white-200: #dcdcdc;
  --white-300: #bdbdbd;
  --white-400: #989898;
  --white-500: #7c7c7c;
  --white-600: #656565;
  --white-700: #525252;
  --white-800: #464646;
  --white-900: #3d3d3d;
  --white-950: #292929;
  --black-50: #f6f6f6;
  --black-100: #e7e7e7;
  --black-200: #d1d1d1;
  --black-300: #b0b0b0;
  --black-400: #888888;
  --black-500: #6d6d6d;
  --black-600: #5d5d5d;
  --black-700: #4f4f4f;
  --black-800: #454545;
  --black-900: #3d3d3d;
  --black-950: #000000;
  --spindle-50: #f1f6fd;
  --spindle-100: #dfebfa;
  --spindle-200: #c7dcf6;
  --spindle-300: #b0cff2;
  --spindle-400: #74a7e6;
  --spindle-500: #5388de;
  --spindle-600: #3e6cd2;
  --spindle-700: #3559c0;
  --spindle-800: #314a9c;
  --spindle-900: #2c417c;
  --spindle-950: #1f294c;
}

.edim-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  white-space: nowrap;
  font-size: 16px;
  height: var(--ui-height);
  color: var(--spindle-950);
  padding: 0 4px;
  background-color: var(--white-50);
}
.edim-button.edim-icon-button {
  padding: 0;
  width: var(--ui-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edim-button.selected {
  color: var(--spindle-700);
  background-color: var(--spindle-50);
}
.edim-button.edim-active {
  background-color: var(--white-200);
}
.edim-button:disabled {
  cursor: not-allowed;
  color: var(--white-300);
}
.edim-button:hover:not(:disabled) {
  background-color: var(--white-100);
}
.edim-button:active:not(:disabled) {
  background-color: var(--white-200);
}

.edim-select {
  display: flex;
  cursor: pointer;
  height: var(--ui-height);
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.edim-select .edim-select-text {
  margin: 0;
  flex: 1 1 auto;
  text-align: left;
}
.edim-select i.edim-select-arrow-icon {
  flex-shrink: 0;
}

.edim-select-option {
  cursor: pointer;
}
.edim-select-option:hover {
  background-color: var(--white-100);
}
.edim-select-option:active {
  background-color: var(--white-200);
}
.edim-select-option.edim-active {
  color: var(--spindle-700);
}

.edim-input {
  background-color: #FAFBFC;
  border-color: #DFE1E6;
  color: #091E42;
  padding: 8px 6px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 14px;
}

.edim-ui-h1 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h2 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h3 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h4 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h5 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h6 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-view-paragraph {
  flex: 1 1 auto;
  text-align: start;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.edim-view-separator {
  margin: 4px 0;
  border-left: 1px solid #dcdfe4;
}

.edim-view-unordered-list, .edim-view-ordered-list {
  list-style-type: none;
  padding: 0;
  margin: 4px 0;
}

.edim-view-list-item {
  padding: 8px 10px;
  min-height: var(--ui-height);
  display: flex;
  align-items: center;
  line-height: normal;
}

.edim-color-picker {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}
.edim-color-picker .edim-color-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.edim-color {
  border: 1px solid transparent;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  cursor: pointer;
}

.layer-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.layer-root {
  position: fixed;
  top: 0;
  left: 0;
  border: #dfe1e6 1px solid;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 10;
  overflow-y: auto;
}

.edim-view-emoji-picker {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.edim-view-emoji-category-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-shrink: 0;
}

.edim-view-emoji-category-button {
  flex-shrink: 0;
}

.edim-view-emoji-view {
  flex: 0 1 auto;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.edim-view-emoji-picker-emoji {
  overflow: hidden;
}

.edim-ui-shortcut {
  font-size: 12px;
  border-radius: 4px;
  background-color: var(--spindle-50);
  padding: 2px 4px;
}

.edim-menubar-text-select {
  width: 110px;
}

.edim-menubar-select-text-type {
  margin-right: 8px;
}

.edim-menubar-font-select {
  width: 110px;
}

.edim-menubar-color-select {
  position: relative;
}

.edim-color-layer-list {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.edim-colo-layer-list-item {
  padding: 0;
}

.edim-color-button {
  position: relative;
}

.edim-color-button-icon {
  width: 16px;
  height: 16px;
  fill: var(--spindle-950);
}

.current-font-color {
  position: absolute;
  background-color: var(--spindle-700);
  height: 2px;
  width: 10px;
  bottom: 7px;
  left: 7px;
  border-radius: 4px;
}

.edim-menubar-more-marks-description {
  margin-left: 8px;
  margin-right: 8px;
}

.edim-menubar-align-option {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edim-menubar-align-active {
  color: var(--spindle-700);
}

.edim-view-editor-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  border: 1px solid var(--black-100);
}

.edim-view-editor-scroll {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.edim-view-editor {
  max-width: 760px;
  width: 100%;
  display: block;
  flex-direction: column;
  flex: 1 1 auto;
  height: inherit;
  min-height: 0;
  background-color: white;
  color: black;
}

.edim-view-editor-menubar-root {
  border-bottom: 1px solid var(--black-100);
}

.edim-view-menubar-wrapper {
  padding: 8px 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;
}

.edim-view-menubar-separator {
  margin: 4px 4px;
}

.ProseMirror {
  flex: 1 1 auto;
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  padding: 4px 14px 4px 14px;
  line-height: 1.2;
  outline: none;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Protect against generic img rules */
img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  font-weight: normal;
}
.ProseMirror h1.edim-heading-indent-1,
.ProseMirror h2.edim-heading-indent-1,
.ProseMirror h3.edim-heading-indent-1,
.ProseMirror h4.edim-heading-indent-1,
.ProseMirror h5.edim-heading-indent-1,
.ProseMirror h6.edim-heading-indent-1 {
  margin-left: 30px;
}
.ProseMirror h1.edim-heading-indent-2,
.ProseMirror h2.edim-heading-indent-2,
.ProseMirror h3.edim-heading-indent-2,
.ProseMirror h4.edim-heading-indent-2,
.ProseMirror h5.edim-heading-indent-2,
.ProseMirror h6.edim-heading-indent-2 {
  margin-left: 60px;
}
.ProseMirror h1.edim-heading-indent-3,
.ProseMirror h2.edim-heading-indent-3,
.ProseMirror h3.edim-heading-indent-3,
.ProseMirror h4.edim-heading-indent-3,
.ProseMirror h5.edim-heading-indent-3,
.ProseMirror h6.edim-heading-indent-3 {
  margin-left: 90px;
}
.ProseMirror h1.edim-heading-indent-4,
.ProseMirror h2.edim-heading-indent-4,
.ProseMirror h3.edim-heading-indent-4,
.ProseMirror h4.edim-heading-indent-4,
.ProseMirror h5.edim-heading-indent-4,
.ProseMirror h6.edim-heading-indent-4 {
  margin-left: 120px;
}
.ProseMirror h1.edim-heading-indent-5,
.ProseMirror h2.edim-heading-indent-5,
.ProseMirror h3.edim-heading-indent-5,
.ProseMirror h4.edim-heading-indent-5,
.ProseMirror h5.edim-heading-indent-5,
.ProseMirror h6.edim-heading-indent-5 {
  margin-left: 150px;
}
.ProseMirror h1.edim-heading-indent-6,
.ProseMirror h2.edim-heading-indent-6,
.ProseMirror h3.edim-heading-indent-6,
.ProseMirror h4.edim-heading-indent-6,
.ProseMirror h5.edim-heading-indent-6,
.ProseMirror h6.edim-heading-indent-6 {
  margin-left: 180px;
}
.ProseMirror h1:first-child,
.ProseMirror h2:first-child,
.ProseMirror h3:first-child,
.ProseMirror h4:first-child,
.ProseMirror h5:first-child,
.ProseMirror h6:first-child {
  margin-top: 10px;
}
.ProseMirror .edim-heading.edim-align-center {
  text-align: center;
}
.ProseMirror .edim-heading.edim-align-right {
  text-align: right;
}

.ProseMirror code.edim-code {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #F3F4F5;
  font-size: 12px;
}

.ProseMirror pre.edim-codeblock-wrapper {
  white-space: pre-wrap;
  border-radius: 3px;
  background-color: #F3F4F5;
  padding: 8px;
}
.ProseMirror pre.edim-codeblock-wrapper code.edim-codeblock-code {
  line-height: 24px;
}

.ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.ProseMirror p.edim-paragraph {
  margin: 10px 0;
}
.ProseMirror p.edim-paragraph:first-child {
  margin-top: 10px;
}
.ProseMirror p.edim-paragraph.edim-align-center {
  text-align: center;
}
.ProseMirror p.edim-paragraph.edim-align-right {
  text-align: right;
}
.ProseMirror p.edim-paragraph.edim-paragraph-indent-1 {
  margin-left: 30px;
}
.ProseMirror p.edim-paragraph.edim-paragraph-indent-2 {
  margin-left: 60px;
}
.ProseMirror p.edim-paragraph.edim-paragraph-indent-3 {
  margin-left: 90px;
}
.ProseMirror p.edim-paragraph.edim-paragraph-indent-4 {
  margin-left: 120px;
}
.ProseMirror p.edim-paragraph.edim-paragraph-indent-5 {
  margin-left: 150px;
}
.ProseMirror p.edim-paragraph.edim-paragraph-indent-6 {
  margin-left: 180px;
}

.edim-view-mention-container {
  overflow-y: auto;
}

.edim-view-mention-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.edim-view-mention-list-item.selected {
  background-color: #EBECF0;
}

.edim-view-mention-list-item-avatar {
  flex-shrink: 0;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.edim-view-mention-list-item-content {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
}

.edim-view-mention-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ProseMirror .edim-mention {
  border: 0;
  border-radius: 20px;
  padding: 2px 3px;
  background-color: #0C66E4;
  color: #ffffff;
}

.ProseMirror li.edim-list-item {
  position: relative;
}
.ProseMirror ul.edim-bullet-list,
.ProseMirror ol.edim-ordered-list {
  padding-left: 0;
  list-style-type: none;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item,
.ProseMirror ol.edim-ordered-list li.edim-list-item {
  word-break: break-all;
  line-height: normal;
  margin: 10px 0;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item:first-child,
.ProseMirror ol.edim-ordered-list li.edim-list-item:first-child {
  margin-top: 10px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item p.edim-paragraph,
.ProseMirror ol.edim-ordered-list li.edim-list-item p.edim-paragraph {
  display: inline-block;
  margin: 0;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-align-center,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-align-center {
  text-align: center;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-align-right,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-align-right {
  text-align: right;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-1,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-1 {
  margin-left: 30px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-2,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-2 {
  margin-left: 60px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-3,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-3 {
  margin-left: 90px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-4,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-4 {
  margin-left: 120px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-5,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-5 {
  margin-left: 150px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-6,
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-6 {
  margin-left: 180px;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item:before,
.ProseMirror ol.edim-ordered-list li.edim-list-item:before {
  vertical-align: top;
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-1::before {
  content: "●";
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-2::before {
  content: "○";
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-3::before {
  content: "■";
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-4::before {
  content: "●";
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-5::before {
  content: "○";
}
.ProseMirror ul.edim-bullet-list li.edim-list-item.edim-list-item-indent-6::before {
  content: "■";
}
.ProseMirror ol.edim-ordered-list {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6;
  counter-increment: list-0;
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7;
  counter-increment: list-1;
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-1::before {
  content: counter(list-1, decimal) ". ";
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7;
  counter-increment: list-2;
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-2::before {
  content: counter(list-2, lower-alpha) ". ";
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7;
  counter-increment: list-3;
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-3::before {
  content: counter(list-3, lower-roman) ". ";
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-4 {
  counter-reset: list-5 list-6 list-7;
  counter-increment: list-4;
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-4::before {
  content: counter(list-4, decimal) ". ";
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-5 {
  counter-reset: list-6 list-7;
  counter-increment: list-5;
}
.ProseMirror ol.edim-ordered-list li.edim-list-item.edim-list-item-indent-5::before {
  content: counter(list-5, lower-alpha) ". ";
}

.ProseMirror li.edim-task-list-item {
  position: relative;
}
.ProseMirror ul.edim-task-list {
  padding-left: 0;
  list-style-type: none;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item {
  word-break: break-all;
  line-height: normal;
  margin: 10px 0;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item:first-child {
  margin-top: 10px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item p.edim-paragraph {
  display: inline-block;
  margin: 0;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-align-center {
  text-align: center;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-align-right {
  text-align: right;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-indent-1 {
  margin-left: 30px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-indent-2 {
  margin-left: 60px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-indent-3 {
  margin-left: 90px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-indent-4 {
  margin-left: 120px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-indent-5 {
  margin-left: 150px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item.edim-indent-6 {
  margin-left: 180px;
}
.ProseMirror ul.edim-task-list li.edim-task-list-item::before {
  cursor: pointer;
  vertical-align: top;
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
  content: "☐";
}
.ProseMirror ul.edim-task-list li.edim-task-list-item[data-checked=true]::before {
  content: "☑";
}

.edim-image-placeholder-view-wrapper {
  width: 100%;
  position: relative;
  display: flex;
}
.edim-image-placeholder-view-wrapper.edim-image-placeholder-align-left {
  text-align: left;
  justify-content: flex-start;
}
.edim-image-placeholder-view-wrapper.edim-image-placeholder-align-center {
  text-align: center;
  justify-content: center;
}
.edim-image-placeholder-view-wrapper.edim-image-placeholder-align-right {
  text-align: right;
  justify-content: flex-end;
}

.edim-image-placeholder-view-container {
  position: relative;
}

.edim-image-placeholder-fake-image {
  width: 100%;
  visibility: hidden;
}

.edim-image-placeholer-progress-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f2f4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.edim-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #172b4d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ProseMirror div.edim-image-wrapper.edim-image-align-left {
  text-align: left;
}
.ProseMirror div.edim-image-wrapper.edim-image-align-center {
  text-align: center;
}
.ProseMirror div.edim-image-wrapper.edim-image-align-right {
  text-align: right;
}

.edim-link-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.edim-link-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
}

.ProseMirror a.edim-link {
  color: blue;
}

.ProseMirror .edim-emoji {
  width: 22px;
  height: 22px;
  content: " ";
}

.ProseMirror .edim-table-container {
  overflow-x: auto;
  height: auto;
  /* Give selected cells a blue overlay */
}
.ProseMirror .edim-table-container table.edim-table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.ProseMirror .edim-table-container table.edim-table colgroup.edim-colgroup {
  display: table-column-group;
}
.ProseMirror .edim-table-container table.edim-table colgroup.edim-colgroup col {
  display: table-column;
}
.ProseMirror .edim-table-container table.edim-table tbody.edim-tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.ProseMirror .edim-table-container table.edim-table tbody.edim-tbody tr {
  background-color: unset;
}
.ProseMirror .edim-table-container table.edim-table tbody.edim-tbody td,
.ProseMirror .edim-table-container table.edim-table tbody.edim-tbody th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  min-width: 1em;
  border: 1px solid #ddd;
  padding: 3px 5px;
}
.ProseMirror .edim-table-container table.edim-table tbody.edim-tbody th {
  font-weight: bold;
  text-align: left;
}
.ProseMirror .edim-table-container.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
.ProseMirror .edim-table-container .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
.ProseMirror .edim-table-container .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}

.edim-table-cell-buttons-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

.edim-view-command-container {
  overflow-y: auto;
}

.edim-view-command-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.edim-view-command-list-item.selected {
  background-color: #EBECF0;
}

.edim-view-command-list-item-icon {
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 8px;
}

.edim-view-command-list-item-content {
  flex: 1 1 auto;
}

/*# sourceMappingURL=preset.css.map */
